/* Set the font size for the entire HTML document */
html {
  font-size: smaller; /* Replace this value with your desired font size */
}

label {
    font-size: smaller;
}
input {
    font-size: smaller;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center; /* This centers content vertically */
    align-items: center;     /* This centers content horizontally */
}

.checkbox-spacing {
    margin-left: 10px; /* Adjust the value as needed */
}