/* Set the font size for the entire HTML document */
html {
  font-size: smaller; /* Replace this value with your desired font size */
}

label {
    font-size: smaller;
}
input {
    font-size: smaller;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center; /* This centers content vertically */
    align-items: center;     /* This centers content horizontally */
}

.checkbox-spacing {
    margin-left: 10px; /* Adjust the value as needed */
}


.profile-section {
    margin-left: 25px; /* Adjust this value as needed */
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 2px 0;
    max-width: 65%;
    margin: auto;
}

.profile-item {
    display: contents; /* Keeps items inside the grid */
}