{% extends "index.html" %}

{% block content %}
<h3>X509 Decoder</h3>
<form action="/decoder" method="post">
    <div class="grid">
        <div class="container">
            <textarea id="data" name="data" rows="30">test</textarea>
        </div>
        <div class="profile-section">
            <strong>Common Name:</strong><br>
            {{certcn}}test
            <br>
            <strong>SAN:</strong><br>
            {{certcn}}test
            <br>        
            <strong>Organization:</strong><br>
            {{certsubj}}test
            <br>
            <strong>Locality:</strong><br>
            {{certsan}}test
            <br>
            <strong>State:</strong><br>
            {{certsan}}test
            <br>  
            <strong>Country:</strong><br>
            {{certsan}}test
            <br>                
            <strong>Validity Start:</strong><br>
            {{certstart}}test
            <br>
            <strong>Validity End:</strong><br>
            {{certend}}test
            <br>
            <strong>Key Size:</strong><br>
            {{certend}}test
            <br>  
            <strong>Key Algorithm:</strong><br>
            {{certend}}test
            <br>                
        </div>

    </div>
    <hr>
    <strong>Serial Number</strong><br>
    {{certend}}test
    <br>
    <strong>MD5 Fingerprint</strong><br>
    {{certend}}test
    <br><br>
    <input type="submit" value="Submit">
</form>
{% endblock %}