<!doctype html>
<html lang="en" data-theme="dark">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=cover">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
  <link rel="stylesheet" href="../static/css/main.css">
  <title>CSR Generator</title>
</head>
<body>
<header class="container">
  <h1>Certificate Tools</h1>
  <nav aria-label="breadcrumb">
      <ul>
        <li><a href="/csrgen" role="tab">CSR Generator</a></li>
        <li><a href="/decoder" role="tab">X509 Decoder</a></li>
        <li><a href="/chain" role="tab">Chain Analyzer</a></li>
        <li><a href="/psd2" role="tab">PSD2 sample</a></li>
      </ul>
  </nav>
</header>
<main class="container">
    <section>
      {% block content %}{% endblock %}
    </section>
</main>

<script src="../static/js/main.js" defer></script>
</body>
</html>