<!doctype html>
<html lang="en" data-theme="dark">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=cover">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
  <link rel="stylesheet" href="../static/css/main.css">
  <title>CSR Generator</title>
</head>
<body>
<header class="container">
  <h1>Certificate Tools</h1>
  <nav aria-label="breadcrumb">
    <ul>
        <li><button onclick="window.location.href='/csrgen'">CSR Generator</button></li>
        <li><button onclick="window.location.href='/decoder'" aria-current="page">X509 Decoder</button></li>
        <li><button onclick="window.location.href='/chain'">Chain Analyzer</button></li>
        <li><button onclick="window.location.href='/psd2'">PSD2 sample</button></li>
    </ul>
  </nav>
  <hr>
  <main class="container">
    {% block content %}{% endblock %}
  </main>
</header>


<script src="../static/js/main.js" defer></script>
</body>
</html>